<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sizeClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>842BE9111D82A9BF00BF2DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842BE92A1D82A9C200BF2DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842BE9351D82A9C200BF2DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
